* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #c3c6e3;
  justify-content: center;
  align-items: center;
}

#board-game {
  width: 600px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#board-game img {
  width: 19%;
  height: 19%;
  border: 1px solid black;
}
